---
label: First Year of Emails Book
sublabel:
---

{% extends '../_layouts/details.njk' %}

{% block description %}
  <p>My wife & I met under unusual circumstances. You can hear the five minute version, <a href="/media/ignite">The Tale of Two Domain-crossed Lovers</a> here.</p>
  <p>October 23rd marks the 20th anniversary of our first email correspondence, so I:</p>
  <ul>
    <li>Downloaded all email messages between the two of us into SQLite</li>
    <li>Used Python / Pillow to generate a PDF of the first year of emails (using Google Sans as the font)</li>
    <li>Had a book printed containing our e-penpal relationship & will give it to her as a surprise</li>
  </ul>
{% endblock %}

{% stylesheet 'scss' %}
  $accent: #583121;
  @import 'global';
  @import 'mixins';
  @import 'details';

{% endstylesheet %}
